/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* styles */
html{
    background-color: rgba(29, 28, 28, 0.952);
    display: flex;
    justify-content: center;
}

body{
    width: 75vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    justify-content: center;
}

header{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    padding: 0px 40px 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

div.top-header-container{
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.top-header-container > div.left-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    column-gap: 15px;
}

div.top-header-container > div.left-container > input{
    width: min(200px 50%);
    height: 30px;
    flex: 1;
    background-color: #fb7186c5;
    border-radius: 20px;
}

div.top-header-container > div.right-container{
    display: flex;
    justify-self: flex-end;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

div.top-header-container > div.right-container > h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 600;
}

img.icon{
    width: 30px;
    height: 30px;
    background-color: white;
}

img.logo{
    width: 55px;
    height: 55px;
}

div.bot-header-container{
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.bot-header-container > div.left-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

div.bot-header-container > div > div.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

div.bot-header-container > div.left-container > img{
    height: 90px;
    width: 90px;
}

div.bot-header-container > div.left-container > div.text-container > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
}

div.bot-header-container > div.left-container > div.text-container > h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 800;
}

div.bot-header-container > div.right-container{
    display: flex;
    column-gap: 30px;
}

div.bot-header-container > div.right-container > button{
    background-color: #be123dde;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    width: 6em;
    height: 2.5em;
    border: none;
    border-radius: 25px;
}

div.side-bar{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: #BE123C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 18px;
    row-gap: 60px;
}

div.side-bar > div.sidebar-tittle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    column-gap: 10px;
}

div.side-bar > div.menu-container, div.side-bar > div.options-container{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 5px;
}

div.side-bar > div.menu-container > div.menu-item, div.side-bar > div.options-container > div.option-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    column-gap: 25px;
    padding-left: 5px;
}

div.side-bar > div.menu-container > div.menu-item > img, div.side-bar > div.options-container > div.option-item > img{
    height: 1.2em;
    width: 1.2em;
}

div.main-content{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    height: 79.5vh;
    grid-template: 1fr 5fr 1fr 5fr 1fr / 3fr 1fr;
    background-color: #fff1f2f5;
    padding: 0px 20px;
    column-gap: 25px;
}

div.main-content > h2.projects-tittle{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    place-self: center start;
}

div.main-content > div.projects-section{
    grid-row: 2 / 5;
    grid-column: 1 / 2;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr ;
    gap: 25px;
}

div.main-content > div.projects-section > div.project-container{
    display:grid;
    grid-template: 24px 1fr 20px / 1fr 1fr;
    border-left: 8px solid #be123dec;
    border-radius: 10px;
    background-color: white;
    height: 150px;
    padding: 30px 20px 20px;
}

div.main-content > div.projects-section > div.project-container > h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    place-self: end start;
}

div.main-content > div.projects-section > div.project-container > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #fb7186da;
    place-self: center strech;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

div.main-content > div.projects-section > div.project-container > div.project-btns{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    place-self: end;
    display: flex;
    column-gap: 25px;
}

div.main-content > div.projects-section > div.project-container > div.project-btns > img{
    height: 20px;
    width: 20px;
    color: #F43F5E;
}

div.main-content > h2.announcements-tittle{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    place-self: center start;
}

div.main-content > div.announcements-section{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    border-radius: 10px;
}

div.main-content > div.announcements-section > div.announcement-container{
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}

#last{
    border-bottom:none;
    padding-bottom: none;
}

div.main-content > div.announcements-section > div.announcement-container > h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

div.main-content > div.announcements-section > div.announcement-container > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #fb7186da;
}

div.main-content > h2.trending-tittle{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    place-self: center start;
}

div.main-content > div.trending-section{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    padding: 0px 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.main-content > div.trending-section > div.trending-account-container{
    display: flex;
    column-gap: 20px;
}

div.main-content > div.trending-section > div.trending-account-container > img{
    height: 40px;
    width: 40px;
}

div.main-content > div.trending-section > div.trending-account-container > div > h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600; 
}

div.main-content > div.trending-section > div.trending-account-container > div > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #fb7186da;
}